@page "/new-order"
@inject MongoDbDataAccess da
<h3>NewOrder</h3>

<button class="btn btn-primary" @onclick="CreateDummyData">Create dummy data</button>

@code {

    private void CreateDummyData()
    {
        foreach (var item in DummyData.CreateDummyData())
        {
            da.InsertRecord(item);
        }
    }
}