@page "/order-list"

@inject MongoDbDataAccess da

<h3>OrderList</h3>
<button class="btn btn-primary" @onclick="ShowArchivedOrders">@buttonText</button>

<OrderDataGrid Orders="displayedOrders" />

@code {

    private List<OrderModel> displayedOrders;
    private List<OrderModel> orderList;

    private string buttonText = "Archiv";

    private void ShowArchivedOrders()
    {
        if (displayedOrders.First().State == State.Paid)
        {//Displaying archive - change to current
            displayedOrders = orderList.Where(x => x.State != State.Paid).ToList();
            buttonText = "Archiv";
        }
        else
        {//Displaying current - change to archive
            displayedOrders = orderList.Where(x => x.State == State.Paid).ToList();
            buttonText = "Aktuální";
        }

    }

    protected override Task OnInitializedAsync()
    {
        orderList = da.LoadRecords<OrderModel>("Orders");

        displayedOrders = orderList.Where(x => x.State != State.Paid).ToList();

        return base.OnInitializedAsync();
    }

}